body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 20px;
    font-family: 'Crimson Text', serif, 'Dancing Script', cursive;
    color: rgb(55, 49, 58);
    background-color:#d7cad8;
    padding: 20px;
    text-align: center;
}

.poema {
    background-color:#ffffff;
    overflow: hidden; 
}

.poema a {
    color: rgb(55, 49, 58);
    padding: 14px 16px;
    display: block;
    text-decoration: none;
}

.poema a:hover {
    color: #d7cad8;
} 



